<!DOCTYPE html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <p>Welcome!</p>
  <form action="/entries" method="post">
    <input class="button" type="submit" value="View Entries" name="entries">
  </form>
</body>
</html>
