<!DOCTYPE html>
<head>
  <title>Diary</title>
</head>
<body>
  <p>Welcome!</p>
  <form action="/get" method="post">
    <input class="button" type="submit" value="View Entries" name="entries">
  </form>
  <form action="/add" method="post">
    <input class="button" type="submit" value="Add Entry" name="add">
  </form>
</body>
</html>
