<!DOCTYPE html>
<head>
  <title>Diary Entries</title>
</head>
<body>
  <form action="/add" method="post">
    <label for="title">Entry title:</label>
    <input class="text" name="title">
    <label for="body">Entry:</label>
    <textarea name="body" cols="40" rows="5"></textarea>
  </form>
</body>
</html>
